body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif!important;
}

h3{
    display: flex;
    justify-content: center;

}

.display{
    display: flex;
    justify-content: center;
}

#displayImage{
    display: none;
}

#imagePlaceholder{
    display:block;
}

.imageCollection{
    width:100%;
}

#image{
    cursor: pointer;
}

#selectedImage{
    
}